<div class="container mt-5" style="width: 500px; background: white";>
  <div class="p-5 mb-5">
  <h3 class="border-bottom pb-3">Create a new list</h3>
      <%= simple_form_for(@list) do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
      <% end %>
    <div class="d-flex justify-content-end"><%= link_to "Back to all list", lists_path, class: 'btn btn-flat' %></div>
  </div>
</div>
